{{ template "header" }}
    <div class="header">
      <h1>Admin</h1>
    </div>
    <div class="body">
      <form class="form" method="POST">
        <h4>Email: </h4>
        <input type="email" name="email" value="">
        <h4>Password: </h4>
        <input type="password" name="password" value="">
        <input type="submit">
      </form>
    </div>
{{ template "footer" }}
